body{
    font-family: 'Montserrat-black', sans-serif;
}
h3{
    font-family: "Montserrat-bold";
    font-weight: bold;
}
h2{ font-weight: bold;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
}
p{
    color: rgb(5, 5, 5);
    font-size: larger;
}

        /*--------------- Header ------------*/
#header{
    background-color: #FFB344;
    color: #fff;
    
}

#header .container-fluid{
    padding:3% 5% 15%;
}

.headerimg{
    
    position: absolute;
    right: 20%;
    /* height: 400px; */
}


/*--------------- About------------*/
#about{
    
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    
    
}
.about{
    text-align: center;
}

.aboutrow{
    display: flex;
    justify-content: space-between;
    
}
.aboutrow .col2 ul li .nav-item{
    display: block;
}
.spanclass{
    color: #00ABB3;
    
}

/*          connect      */

#connect{
    
    background-color: #FFB344;  
    color: white;
    text-align: center;
    
}
#connect .container-fluid{
    padding: 7% 15%;
}

/*          projects   */
#projects{
    text-align: center;
    height: 60vh;
}
#projects div{
    padding: 7% 15%;
}

#contact{
    
    background-color: #FFB344;  
    color: white;
    text-align: center;
    
}


#footer{
    text-align: center;
    padding: 5%;
}



.navbar{
    padding-bottom: 2rem;
}
.nav-item{
    padding: 0 18px;
    color: #fff;
}
.nav-link{
    font-size: 1rem;

    

}


.faicon{
    color: rgb(247, 119, 0);
    margin-bottom: 1rem;
   
}
.faicon:hover{
    color: #FFB344;
}


@media (max-width: 994px) {
    .headerimg{
        position: static;
        transform: rotate(0);
        width: 40%;
    }
    #header{
        text-align: center;
        font-weight: bold;
    }
}
